@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Forum&family=Marck+Script&display=swap');


/* font-family: 'EB Garamond', serif;
font-family: 'Forum', cursive;
font-family: 'Marck Script', cursive; */

html {
font-family: 'EB Garamond', serif;
background-color: #333;



} 

.wrapper-home {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-content: space-between;
  margin: auto;
  width: 100%;
  background-image: url('../assets/market1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-markets {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-content: space-between;
  margin: auto;
  width: 100%;
  background-image: url('../assets/chickens.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}




/* Add a black background color to the top navigation */
.navbar {
  display: flex;
  background-color: #333;
  overflow: hidden;
  width: 100%;
  align-self: center;
  justify-content: space-evenly;

}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.footer {
  align-self: center;
  text-align: center;
  align-items: flex-end;
  width: 100%;
  background-color: #333;
  overflow: hidden;
  color: #f2f2f2;
  position: relative;
  overflow: hidden;
  margin-top: auto;

}

