

.single-market-ul {
  list-style-type: none;
}

.single-market-name {
  font-size: x-large;
  font-weight: bolder;
}

.single-market-location {
  font-size: large;
}

.single-market-season {
  font-size: large;
}

.market-vendors {
  font: inherit;
  border-color: darkslategray;
  margin: 5px;
  margin-left: 42px;
  font-weight: bold;
}


.delete-market {
  font: inherit;
  border-color: darkslategrey;
  margin: 5px;
  font-weight: bold;
}


